$c-color-black: #121212;
$c-color-primary: #EB6200;
//$c-color-secondary: #E5007B;
$c-color-secondary: #B50000;
$c-color-white: #fbfbfb;

$c-color-primary-dark: #EB8900;
// $c-color-secondary-dark: #FF67BB;
$c-color-secondary-dark: #FF2E2E;

$f-font-title: "Kufam", cursive;
$f-font-paragraphe: 'ABeeZee', sans-serif;
$f-font-height: 1.4;
$f-font-height-title: 1.3;

//Font-size mobile
$s-size-h1-m: 3.062rem;
$s-size-h2-m: 1.562rem;
$s-size-p-m: 16px;
$s-size-legend-m: 0.875rem;

$size-h1-m: 3.062rem;
$size-h2-m: 2.437rem;
$size-h3-m: 1.937rem;
$size-h4-m: 1.562rem;
//$size-h4-m: 1.125rem;
$size-p-m: 16px;
$size-legend-m: 0.875rem;

//Font-size tablette
$s-size-h1-t: 3.437rem;
$s-size-h2-t: 1.75rem;
$s-size-p-t: 16px;
$s-size-legend-t: 0.875rem;

$size-h1-t: 3.437rem;
$size-h2-t: 2.75rem;
$size-h3-t: 2.187rem;
// $size-h4-t: 1.75rem;
$size-h4-t: 1.125rem;
$size-p-t: 16px;
$size-legend-t: 0.875rem;

//Font-size desktop
$s-size-h1-d: 4.75rem;
$s-size-h2-d: 2.188rem;
$s-size-p-d: 16px;
$s-size-legend-d: 0.875rem;

$size-h1-d: 4.75rem;
$size-h2-d: 3.437rem;
$size-h3-d: 2.75rem;
// $size-h4-d: 2.187rem;
$size-h4-d: 1.125rem;
$size-p-d: 16px;
$size-legend-d: 0.875rem;